

body{
	background: url("simple.png");
	background-repeat: no-repeat;
	background-size: 100%;

  
}


.list-group-item{
	
	border:1px solid #aaaacc;
}

.container{
background: rgba(25, 25, 40, .3);
margin-top: 20px;

}	
	
h2{
background:#aaaacc;
border-radius: 25px  0 25px 0;
padding:5px;
text-align:center;
border-bottom:10px solid black;


  

}	


#ulVehiculo .matricula{
    font-weight: 600;
    text-transform: uppercase;

}

#ulVehiculo .km{ 

color:grey;

}

#ulVehiculo .modelo{
    font-weight: 400;
    text-transform: capitalize;

}

#ulVehiculo a{

float: right;

}

